html {
    background-image: url('Static.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    vertical-align: center;
    font-size: 100px;
    color: whitesmoke;
}

h2, p{
    text-align: center;
}