body{
	font-size: 20px;
	font-family: serif;
	text-align: center;
}
.question{
	font-weight: 600;
	text-align: center;
	color: whitesmoke;
}
.answers {
	margin-bottom: 20px;
	margin: 10px;
	text-align: center;
}
.submit{
	font-size: 20px;
	background-color: #ffffff;
	color: #000;
	border: 2px solid #3a83a8;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

.submit:hover{
	background-color: #3a83a8;
}


.back{
	font-size: 20px;
	background-color: #ffffff;
	color: #000;
	border: 2px solid palevioletred;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

.back:hover{
	background-color: palevioletred;
}

.answers input[type="radio"] {
	opacity: 0;
	width: 0;
	height: 0;
}

.answers label {
	display: inline-block;
	background-color: white;
	padding: 10px 20px;
	font-family: sans-serif, Arial;
	font-size: 16px;
	border: 2px solid #444;
	border-radius: 4px;
	cursor: pointer;
	margin: 3px;
}

.answers label:hover {
	background-color:orange;
}

.answers input[type="radio"]:checked ~* {
	background-color: orchid;
}

label > input[type="radio"]:checked {
	background-color: orange;
}

html {
    background-image: url('Static.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    color: whitesmoke;
}
h2, p{
    text-align: center;
}

#time {
    text-align: center;
    font-size: 30px;
}